<section class="history">
    <article class="card history__card">
        <div class="heading">
            <h2>Previously Viewed</h2>

            <div class="buttons">
                <a ng-click="history.action.clearHistory()" class="sweep"><i class="material-icons">delete_sweep</i></a>
            </div>
        </div>
        <ul>
            <li ng-repeat="topic in history.model.history">
                <div class="top-row">
                    <h4>{{ topic.article_title}}</h4>
                    <div class="option-wrap">
                        <a href="{{ topic.wiki_link }}" target="_blank"><i class="material-icons">launch</i></a>

                        <a ng-click="history.action.removeItem(topic)"><i class="material-icons">remove_circle_outline</i></a>
                    </div>
                </div>

                <p>{{ topic.summary | limitTo: 300 }} ...</p>
            </li>
        </ul>
    </article>
</section>
