// History
.history__card,
.bookmarks__card {
    ul {
        max-height: 550px;
        overflow-y: scroll;
    }

    li {
        padding: rem-calc(20px);
    }

    p {
        clear: both;
        padding-top: 10px;
    }

    .top-row {
        h4 {
            float: left;
        }

        .option-wrap {
            float: right;
            text-align: right;
        }
    }

    .option-wrap {

        .material-icons {
            position: relative;
            top: 6px;
            margin-right: 5px;
        }

        a:first-child {
            margin-right: 10px;
        }
    }

    @media #{$medium-up} {
        min-height: 600px;
    }
}

.history__card {
    .option-wrap {
        margin-right: -20px;
    }
}
